<a href="https://colab.research.google.com/github/ViniciusPavan/Learning_Python/blob/main/Aula_python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python

In [ ]:
filmes = ["toystory", "chocolate", "pimenta"]
dados = {"nome" :"guilherme", "idade" : 37, "empresa" : "alura"}


def imprime_filmes(filmes):
  print("Filmes disponiveis\n")
  for filme in filmes:
    print(filme)
    print("...")

imprime_filmes(filmes)
dados["empresa"]

Filmes disponiveis

toystory
...
chocolate
...
pimenta
...

'alura'

In [ ]:
import pandas as pd
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.1/movies.csv"
 
filmes = pd.read_csv(uri)
filmes.columns = ["filmeId", "titulo","generos"]
filmes.head()

   filmeId  ...                                      generos
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]